
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-pnZ {
  box-sizing: border-box;
  padding-bottom: 4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #252222;
}
.desktop-1-pnZ .auto-group-3m3b-skq {
  box-sizing: border-box;
  padding: 0.7rem 0.5rem 5.3rem 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-pnZ .auto-group-3m3b-skq .auto-group-arqy-yBb {
  margin: 0rem 12.7rem 1.9rem 0rem;
  width: calc(100% - 12.7rem);
  height: 13.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-pnZ .auto-group-3m3b-skq .auto-group-arqy-yBb .auto-group-fnzr-HCH {
  width: 45.6rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-pnZ .auto-group-3m3b-skq .auto-group-arqy-yBb .auto-group-fnzr-HCH .group-48-dX3 {
  width: 6.7rem;
  height: 4.8132rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-pnZ .auto-group-3m3b-skq .auto-group-arqy-yBb .auto-group-fnzr-HCH .weatherme-B2m {
  width: 39.7rem;
  height: 10.4rem;
  position: absolute;
  left: 5.9rem;
  top: 2.4rem;
  font-size: 6.9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-pnZ .auto-group-3m3b-skq .auto-group-arqy-yBb .auto-group-fnzr-HCH .pm-TW5 {
  width: 8.5rem;
  height: 2.9rem;
  position: absolute;
  left: 35.5rem;
  top: 10.8rem;
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-pnZ .auto-group-3m3b-skq .auto-group-arqy-yBb .auto-group-s8vj-9th {
  box-sizing: border-box;
  padding: 6.2rem 0rem 2.6rem 16.698rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-pnZ .auto-group-3m3b-skq .auto-group-arqy-yBb .auto-group-s8vj-9th .auto-group-vcxp-HED {
  margin-right: 1.9978rem;
  box-sizing: border-box;
  padding: 0rem 4.402rem 0rem 3.602rem;
  height: 100%;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  border-bottom: solid 0.3rem #695d5d;
  flex-shrink: 0;
}
.desktop-1-pnZ .auto-group-3m3b-skq .auto-group-arqy-yBb .auto-group-s8vj-9th .auto-group-vcxp-HED .auto-group-vcxp-HED-sub-0 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.desktop-1-pnZ .auto-group-3m3b-skq .auto-group-arqy-yBb .auto-group-s8vj-9th .auto-group-vcxp-HED .auto-group-vcxp-HED-sub-1 {
}
.desktop-1-pnZ .auto-group-3m3b-skq .auto-group-arqy-yBb .auto-group-s8vj-9th .tommorow-jEd {
  margin: 0rem 5.2rem 0.4rem 0rem;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-pnZ .auto-group-3m3b-skq .auto-group-arqy-yBb .auto-group-s8vj-9th .monthly-forecast-TRX {
  margin-bottom: 0.4rem;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-pnZ .auto-group-3m3b-skq .auto-group-d9qq-C8D {
  margin: 0rem 0rem 3rem 1rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-pnZ .auto-group-3m3b-skq .auto-group-d9qq-C8D .c-KTj {
  margin: 0rem 0.5rem 0.3rem 0rem;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-pnZ .auto-group-3m3b-skq .auto-group-d9qq-C8D .auto-group-wpa5-qS5 {
  margin: 0.8rem 1.2rem 1rem 0rem;
  box-sizing: border-box;
  padding: 0.3rem 0rem 0.2rem 0rem;
  width: 9.2rem;
  height: calc(100% - 1.8rem);
  background: linear-gradient(90deg, #33e017 0%, rgba(148, 241, 133, 0) 100%);
  border-radius: 2.2rem;
  flex-shrink: 0;
}
.desktop-1-pnZ .auto-group-3m3b-skq .auto-group-d9qq-C8D .auto-group-wpa5-qS5 .ellipse-5-wk1 {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #181515;
  border-radius: 1.25rem;
}
.desktop-1-pnZ .auto-group-3m3b-skq .auto-group-d9qq-C8D .f-Sgm {
  margin-top: 0.3rem;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-pnZ .auto-group-3m3b-skq .auto-group-gva1-NaR {
  margin: 0rem 36rem 0rem 35.9rem;
  box-sizing: border-box;
  padding: 1.1rem 35.9rem 0.9rem 4rem;
  width: calc(100% - 71.9rem);
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.desktop-1-pnZ .auto-group-3m3b-skq .auto-group-gva1-NaR .icon-search-HBb {
  margin: 0.1rem 1.7rem 0rem 0rem;
  width: 4.5rem;
  height: 4.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-pnZ .auto-group-3m3b-skq .auto-group-gva1-NaR .search-location-zLu {
  margin-bottom: 0.1rem;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.5;
  color: #514d4d;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-pnZ .auto-group-swzu-W4M {
  margin-bottom: 6.3rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-pnZ .auto-group-swzu-W4M .rectangle-6-FXj {
  margin: 0.4rem 4.3rem 0rem 0rem;
  width: 23.7rem;
  height: 42.5rem;
  background: linear-gradient(180deg, #10c38d -0%, #0e8393 100%);
  border-radius: 3.2rem;
  flex-shrink: 0;
}
.desktop-1-pnZ .auto-group-swzu-W4M .icon-chevron-left-arrow-ZHX {
  margin: 13.9rem 6.7rem 0rem 0rem;
  width: 1.6rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-pnZ .auto-group-swzu-W4M .auto-group-gqiu-sp1 {
  margin: 0rem 6.1rem 0.4rem 0rem;
  box-sizing: border-box;
  padding: 3.5rem 2.8rem 0.8rem 2.8rem;
  width: 81.7rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(255, 249, 249, 0.25), 0 0.4rem 0.4rem rgba(252, 245, 245, 0.25);
  background: linear-gradient(112.67deg, #ad36cb 32.23%, #323233 67.37%);
  border-radius: 3.2rem;
  flex-shrink: 0;
}
.desktop-1-pnZ .auto-group-swzu-W4M .auto-group-gqiu-sp1 .auto-group-7thb-Bph {
  margin-bottom: 5.8rem;
  width: 15.9rem;
  height: 4.5rem;
  position: relative;
}
.desktop-1-pnZ .auto-group-swzu-W4M .auto-group-gqiu-sp1 .auto-group-7thb-Bph .burdwan-jLR {
  width: 13.2rem;
  height: 4.5rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-pnZ .auto-group-swzu-W4M .auto-group-gqiu-sp1 .auto-group-7thb-Bph .icon-location-Skd {
  width: 3.1rem;
  height: 3.1rem;
  position: absolute;
  left: 12.8rem;
  top: 0.6rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-pnZ .auto-group-swzu-W4M .auto-group-gqiu-sp1 .auto-group-1pqj-mH7 {
  margin-bottom: 8.4rem;
  display: flex;
  align-items: center;
}
.desktop-1-pnZ .auto-group-swzu-W4M .auto-group-gqiu-sp1 .auto-group-1pqj-mH7 .aug-23-tue-iTF {
  margin: 9.6rem 12.6rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-pnZ .auto-group-swzu-W4M .auto-group-gqiu-sp1 .auto-group-1pqj-mH7 .icon-temperature-dq7 {
  margin: 0rem 2.527rem 1.556rem 0rem;
  width: 1.8733rem;
  height: 6.2442rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-pnZ .auto-group-swzu-W4M .auto-group-gqiu-sp1 .auto-group-1pqj-mH7 .c-Yx5 {
  margin: 0rem 2.5rem 2.1rem 0rem;
  font-size: 7rem;
  font-weight: 300;
  line-height: 1.5;
  color: #f2f1f1;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-pnZ .auto-group-swzu-W4M .auto-group-gqiu-sp1 .auto-group-1pqj-mH7 .group-41-Hem {
  margin-bottom: 2.4472rem;
  width: 9.6rem;
  height: 4.7528rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-pnZ .auto-group-swzu-W4M .auto-group-gqiu-sp1 .auto-group-c7pq-dCq {
  margin: 0rem 4.7rem 0rem 3rem;
  width: calc(100% - 7.7rem);
  height: 6.9rem;
  display: flex;
  align-items: flex-start;
}
.desktop-1-pnZ .auto-group-swzu-W4M .auto-group-gqiu-sp1 .auto-group-c7pq-dCq .auto-group-xpms-Lsw {
  box-sizing: border-box;
  padding: 0.4rem 9.6rem 0rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-pnZ .auto-group-swzu-W4M .auto-group-gqiu-sp1 .auto-group-c7pq-dCq .auto-group-xpms-Lsw .auto-group-nqf3-t8m {
  margin: 0rem 10.2rem 0.4rem 0rem;
  width: 9.4rem;
  height: 6.1rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-pnZ .auto-group-swzu-W4M .auto-group-gqiu-sp1 .auto-group-c7pq-dCq .auto-group-xpms-Lsw .auto-group-nqf3-t8m .humidity-aA1 {
  width: 9.4rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-pnZ .auto-group-swzu-W4M .auto-group-gqiu-sp1 .auto-group-c7pq-dCq .auto-group-xpms-Lsw .auto-group-nqf3-t8m .item-99-V25 {
  width: 4.6rem;
  height: 3.3rem;
  position: absolute;
  left: 2.5rem;
  top: 2.8rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-pnZ .auto-group-swzu-W4M .auto-group-gqiu-sp1 .auto-group-c7pq-dCq .auto-group-xpms-Lsw .auto-group-jnah-bL1 {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-pnZ .auto-group-swzu-W4M .auto-group-gqiu-sp1 .auto-group-c7pq-dCq .auto-group-xpms-Lsw .auto-group-jnah-bL1 .visiblity-Ym3 {
  margin-bottom: 0.2rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-pnZ .auto-group-swzu-W4M .auto-group-gqiu-sp1 .auto-group-c7pq-dCq .auto-group-xpms-Lsw .auto-group-jnah-bL1 .km-ta1 {
  margin-left: 1.5rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-pnZ .auto-group-swzu-W4M .auto-group-gqiu-sp1 .auto-group-c7pq-dCq .auto-group-p8e9-pyT {
  margin-right: 10.6rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-pnZ .auto-group-swzu-W4M .auto-group-gqiu-sp1 .auto-group-c7pq-dCq .auto-group-p8e9-pyT .air-pressure-aSq {
  margin-bottom: 0.6rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-pnZ .auto-group-swzu-W4M .auto-group-gqiu-sp1 .auto-group-c7pq-dCq .auto-group-p8e9-pyT .hpa-KQR {
  margin-left: 1.3rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-pnZ .auto-group-swzu-W4M .auto-group-gqiu-sp1 .auto-group-c7pq-dCq .auto-group-zh73-TFj {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-pnZ .auto-group-swzu-W4M .auto-group-gqiu-sp1 .auto-group-c7pq-dCq .auto-group-zh73-TFj .wind-p6H {
  margin: 0rem 0.1rem 0.2rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-pnZ .auto-group-swzu-W4M .auto-group-gqiu-sp1 .auto-group-c7pq-dCq .auto-group-zh73-TFj .mph-wgh {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-pnZ .auto-group-swzu-W4M .icon-chevron-left-arrow-C6q {
  margin: 14.9rem 4.3rem 0rem 0rem;
  width: 1.6rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-pnZ .auto-group-swzu-W4M .rectangle-7-i5B {
  margin-top: 0.4rem;
  width: 23.7rem;
  height: 42.5rem;
  background: linear-gradient(180deg, #0fc89c -0%, #067989 100%);
  border-radius: 3.2rem;
  flex-shrink: 0;
}
.desktop-1-pnZ .auto-group-oxsd-Dnd {
  margin: 0 4.1rem;
  width: calc(100% - 8.2rem);
  height: 13.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-pnZ .auto-group-oxsd-Dnd .auto-group-2px1-Mdw {
  box-sizing: border-box;
  padding-right: 8.5rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-1-pnZ .auto-group-oxsd-Dnd .auto-group-2px1-Mdw .auto-group-fatu-u9f {
  margin-right: 8.5rem;
  width: 12.1rem;
  height: 13.1rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-pnZ .auto-group-oxsd-Dnd .auto-group-2px1-Mdw .auto-group-fatu-u9f .rectangle-8-SQV {
  width: 12.1rem;
  height: 11.8rem;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, #b32dd4 -0%, rgba(217, 217, 217, 0) 100%);
  border-radius: 2.5rem;
}
.desktop-1-pnZ .auto-group-oxsd-Dnd .auto-group-2px1-Mdw .auto-group-fatu-u9f .rectangle-15-MGZ {
  width: 12.1rem;
  height: 7.2rem;
  position: absolute;
  left: 0;
  top: 5.9rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(0.45rem);
  background: linear-gradient(105.4deg, #373232 4.8%, rgba(55, 50, 50, 0) 100%);
  border-radius: 2.5rem;
}
.desktop-1-pnZ .auto-group-oxsd-Dnd .auto-group-2px1-Mdw .auto-group-fatu-u9f .group-17-1M7 {
  width: 5.7794rem;
  height: 5.0646rem;
  position: absolute;
  left: 3.1rem;
  top: 4.4rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-pnZ .auto-group-oxsd-Dnd .auto-group-2px1-Mdw .auto-group-fatu-u9f .pm-wEm {
  width: 7.7rem;
  height: 2.6rem;
  position: absolute;
  left: 2.6rem;
  top: 1.6rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-pnZ .auto-group-oxsd-Dnd .auto-group-2px1-Mdw .auto-group-fatu-u9f .item-29-32u {
  width: 3.4rem;
  height: 3.2rem;
  position: absolute;
  left: 4.3rem;
  top: 9.5rem;
  font-size: 2.1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-pnZ .auto-group-oxsd-Dnd .auto-group-2px1-Mdw .auto-group-mqk9-wPB {
  margin-right: 8.5rem;
  width: 12.1rem;
  height: 13.1rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-pnZ .auto-group-oxsd-Dnd .auto-group-2px1-Mdw .auto-group-mqk9-wPB .rectangle-9-GgM {
  width: 12.1rem;
  height: 11.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background: linear-gradient(180deg, #b32dd4 -0%, rgba(217, 217, 217, 0) 100%);
  border-radius: 2.5rem;
}
.desktop-1-pnZ .auto-group-oxsd-Dnd .auto-group-2px1-Mdw .auto-group-mqk9-wPB .rectangle-16-Amj {
  width: 12.1rem;
  height: 7.2rem;
  position: absolute;
  left: 0;
  top: 5.9rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(0.4rem);
  background: linear-gradient(287.21deg, #373232 97.04%, rgba(55, 50, 50, 0) 200%);
  border-radius: 2.5rem;
}
.desktop-1-pnZ .auto-group-oxsd-Dnd .auto-group-2px1-Mdw .auto-group-mqk9-wPB .group-42-egu {
  width: 5.5rem;
  height: 3.179rem;
  position: absolute;
  left: 3.1rem;
  top: 4.7rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-pnZ .auto-group-oxsd-Dnd .auto-group-2px1-Mdw .auto-group-mqk9-wPB .pm-nHK {
  width: 7.6rem;
  height: 2.6rem;
  position: absolute;
  left: 2.4rem;
  top: 1.6rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-pnZ .auto-group-oxsd-Dnd .auto-group-2px1-Mdw .auto-group-mqk9-wPB .item-27-hv5 {
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  left: 4.6rem;
  top: 9.1rem;
  font-size: 2.1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-pnZ .auto-group-oxsd-Dnd .auto-group-2px1-Mdw .auto-group-1kqr-1vm {
  margin-right: 8.5rem;
  width: 12.1rem;
  height: 13.1rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-pnZ .auto-group-oxsd-Dnd .auto-group-2px1-Mdw .auto-group-1kqr-1vm .rectangle-10-ZBb {
  width: 12.1rem;
  height: 11.8rem;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, #b32dd4 -0%, rgba(217, 217, 217, 0) 100%);
  border-radius: 2.5rem;
}
.desktop-1-pnZ .auto-group-oxsd-Dnd .auto-group-2px1-Mdw .auto-group-1kqr-1vm .rectangle-17-5Qq {
  width: 12.1rem;
  height: 7.2rem;
  position: absolute;
  left: 0;
  top: 5.9rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(0.4rem);
  background: linear-gradient(109.5deg, #373232 0%, rgba(55, 50, 50, 0) 100%);
  border-radius: 2.5rem;
}
.desktop-1-pnZ .auto-group-oxsd-Dnd .auto-group-2px1-Mdw .auto-group-1kqr-1vm .group-43-xjX {
  width: 6.4rem;
  height: 5.9112rem;
  position: absolute;
  left: 3.3rem;
  top: 4.3rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-pnZ .auto-group-oxsd-Dnd .auto-group-2px1-Mdw .auto-group-1kqr-1vm .pm-6aq {
  width: 7.6rem;
  height: 2.6rem;
  position: absolute;
  left: 2.7rem;
  top: 1.6rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-pnZ .auto-group-oxsd-Dnd .auto-group-2px1-Mdw .auto-group-1kqr-1vm .item-27-QLd {
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  left: 5.1rem;
  top: 9.5rem;
  font-size: 2.1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-pnZ .auto-group-oxsd-Dnd .auto-group-2px1-Mdw .auto-group-x1hf-vJy {
  margin-right: 8.5rem;
  width: 12.1rem;
  height: 13.1rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-pnZ .auto-group-oxsd-Dnd .auto-group-2px1-Mdw .auto-group-x1hf-vJy .rectangle-11-4RB {
  width: 12.1rem;
  height: 11.8rem;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, #b32dd4 -0%, rgba(217, 217, 217, 0) 100%);
  border-radius: 2.5rem;
}
.desktop-1-pnZ .auto-group-oxsd-Dnd .auto-group-2px1-Mdw .auto-group-x1hf-vJy .rectangle-18-mqP {
  width: 12.1rem;
  height: 7.2rem;
  position: absolute;
  left: 0;
  top: 5.9rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(0.4rem);
  background: linear-gradient(288.36deg, #373232 95.15%, rgba(55, 50, 50, 0) 203.29%);
  border-radius: 2.5rem;
}
.desktop-1-pnZ .auto-group-oxsd-Dnd .auto-group-2px1-Mdw .auto-group-x1hf-vJy .am-FEm {
  width: 6.2rem;
  height: 2.6rem;
  position: absolute;
  left: 2.9rem;
  top: 1.6rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-pnZ .auto-group-oxsd-Dnd .auto-group-2px1-Mdw .auto-group-x1hf-vJy .item-26-N4V {
  width: 3.4rem;
  height: 3.2rem;
  position: absolute;
  left: 4.1rem;
  top: 9.5rem;
  font-size: 2.1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-pnZ .auto-group-oxsd-Dnd .auto-group-2px1-Mdw .auto-group-x1hf-vJy .group-44-HBT {
  width: 5.6rem;
  height: 5.1164rem;
  position: absolute;
  left: 3.3rem;
  top: 4rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-pnZ .auto-group-oxsd-Dnd .auto-group-2px1-Mdw .auto-group-tha5-bxq {
  margin-right: 8.4rem;
  width: 12.2rem;
  height: 13.1rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-pnZ .auto-group-oxsd-Dnd .auto-group-2px1-Mdw .auto-group-tha5-bxq .rectangle-12-9Df {
  width: 12.1rem;
  height: 11.8rem;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, #b32dd4 -0%, rgba(217, 217, 217, 0) 100%);
  border-radius: 2.5rem;
}
.desktop-1-pnZ .auto-group-oxsd-Dnd .auto-group-2px1-Mdw .auto-group-tha5-bxq .rectangle-19-GZB {
  width: 12.1rem;
  height: 7.2rem;
  position: absolute;
  left: 0.1rem;
  top: 5.9rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(0.4rem);
  background: linear-gradient(104.81deg, #373232 4.65%, rgba(55, 50, 50, 0) 92.7%);
  border-radius: 2.5rem;
}
.desktop-1-pnZ .auto-group-oxsd-Dnd .auto-group-2px1-Mdw .auto-group-tha5-bxq .am-kUM {
  width: 6.6rem;
  height: 2.6rem;
  position: absolute;
  left: 3.3rem;
  top: 1.6rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-pnZ .auto-group-oxsd-Dnd .auto-group-2px1-Mdw .auto-group-tha5-bxq .item-29-4zq {
  width: 3.4rem;
  height: 3.2rem;
  position: absolute;
  left: 4.1rem;
  top: 9.4rem;
  font-size: 2.1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-pnZ .auto-group-oxsd-Dnd .auto-group-2px1-Mdw .auto-group-tha5-bxq .group-45-yc1 {
  width: 5.6rem;
  height: 5.1164rem;
  position: absolute;
  left: 3.4rem;
  top: 4.3rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-pnZ .auto-group-oxsd-Dnd .auto-group-2px1-Mdw .auto-group-tzey-Wbw {
  width: 12.1rem;
  height: 13.1rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-pnZ .auto-group-oxsd-Dnd .auto-group-2px1-Mdw .auto-group-tzey-Wbw .rectangle-13-TXB {
  width: 12.1rem;
  height: 11.8rem;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, #b32dd4 -0%, rgba(217, 217, 217, 0) 100%);
  border-radius: 2.5rem;
}
.desktop-1-pnZ .auto-group-oxsd-Dnd .auto-group-2px1-Mdw .auto-group-tzey-Wbw .rectangle-20-npM {
  width: 12.1rem;
  height: 7.2rem;
  position: absolute;
  left: 0;
  top: 5.9rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(0.4rem);
  background: linear-gradient(286.31deg, #373232 96.07%, rgba(55, 50, 50, 0) 200%);
  border-radius: 2.5rem;
}
.desktop-1-pnZ .auto-group-oxsd-Dnd .auto-group-2px1-Mdw .auto-group-tzey-Wbw .group-46-VCy {
  width: 4.7329rem;
  height: 3.4rem;
  position: absolute;
  left: 3.6rem;
  top: 4rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-pnZ .auto-group-oxsd-Dnd .auto-group-2px1-Mdw .auto-group-tzey-Wbw .am-dKB {
  width: 6.7rem;
  height: 2.6rem;
  position: absolute;
  left: 2.4rem;
  top: 1.6rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-pnZ .auto-group-oxsd-Dnd .auto-group-2px1-Mdw .auto-group-tzey-Wbw .item-31-wam {
  width: 2.7rem;
  height: 3.2rem;
  position: absolute;
  left: 4.6rem;
  top: 9.1rem;
  font-size: 2.1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-pnZ .auto-group-oxsd-Dnd .auto-group-yug9-ezy {
  width: 12.2rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-pnZ .auto-group-oxsd-Dnd .auto-group-yug9-ezy .rectangle-14-oss {
  width: 12.1rem;
  height: 11.8rem;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, #b32dd4 -0%, rgba(217, 217, 217, 0) 100%);
  border-radius: 2.5rem;
}
.desktop-1-pnZ .auto-group-oxsd-Dnd .auto-group-yug9-ezy .rectangle-21-wUH {
  width: 12.1rem;
  height: 7.2rem;
  position: absolute;
  left: 0.1rem;
  top: 5.9rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(0.4rem);
  background: linear-gradient(104.48deg, #373232 5.56%, rgba(55, 50, 50, 0) 100%);
  border-radius: 2.5rem;
}
.desktop-1-pnZ .auto-group-oxsd-Dnd .auto-group-yug9-ezy .am-pY5 {
  width: 6.5rem;
  height: 2.6rem;
  position: absolute;
  left: 2.4rem;
  top: 1.6rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-pnZ .auto-group-oxsd-Dnd .auto-group-yug9-ezy .item-27-9KT {
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  left: 5rem;
  top: 10rem;
  font-size: 2.1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-pnZ .auto-group-oxsd-Dnd .auto-group-yug9-ezy .group-47-Tqw {
  width: 4.2967rem;
  height: 4.2rem;
  position: absolute;
  left: 3.5rem;
  top: 4.4rem;
  object-fit: contain;
  vertical-align: top;
}
