 /* CSS styles for the dropdown */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 .dropdown {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-input {
    margin: 200px auto 0;
    width: 200px;
    padding: 10px;
    align-self: center;
    justify-self: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1;
    width: 100%;
}

.dropdown-content a {
    padding: 10px;
    display: block;
    color: #333;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #ddd;
}